#app {
  height: 100%;
  width: 100%;

  .wrapper {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

}

.app {
  height: 100%;
  width: 100%;
  padding: 0 30px 30px 30px;
  display: flex;
  flex-flow: row nowrap;
}



.wrapper {
  display: flex;
  flex-grow: row nowrap;
  height: 80%;
  width: 100%;
}

