.footer {

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-top: 30px;

  button {
    height: 1.6rem;
    width: 9.0%;
    margin: 0 0.25%;
    background: #2699FB;
    color: white;
  }

  .send-button {

    margin-right: 4%;
  }

  .response-metrics {
    height: 1.6rem;
    width: 30%;
    padding: 5px;
    background: white;
    text-align: right;
    color: darkgrey;
    
  }

  .trail {
    height: 1.6rem;
    width: 48%;
    padding: 5px;
    background: white;
    color: darkgrey;
  }

}

