.left {
  width: 70%;
  height: 100%;
  margin-right: 8%;

  .input-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .upload-box {
      width: 50%;

      .upload-box-contents {
        display: flex;
        align-items: center;

        .file-path {
          background: white;
          color: $secondary-color;
          overflow-y: scroll;
          padding: 5px;
          font-size: 0.85rem;
          border-radius: 6px;
          border: 1px solid black;
          flex-grow: 1;
          height: 2rem;
          white-space: nowrap;
        }

        .file-path::-webkit-scrollbar {
          width:0;
          height:0;
        }

        .hide-me {
          height: 0.1px; 
          width: 0.1px;
          opacity: 0;
          overflow: hidden;
        }

        label {
          border: 1px solid $secondary-color;
          padding: 5px 15px;
          font-size: 0.7rem;
          font-weight: 700;
          background: $primary-color;
          height: 2rem;
          color: white;
          text-align: center;
          vertical-align: middle;
          transition: all ease 0.2s;
          margin-left: -5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        label:hover {
          border: 1px solid #2699FB;
          background: white;
          color: $primary-color;
          cursor: pointer;
        }
      }
    }

    .address-box {
      width: 50%;

      input {
        width: 80%;
        border: 1px solid black;
        border-radius: 6px;
        padding: 5px;
        font-size: 0.7rem;
        background: white;
        height: 2rem;
        color: $secondary-color;
      }

    }

  }

  .tabs {

    button {
      height: 2rem;
      border: 0px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      margin-right: 10px;
      margin-bottom: -5px;
      padding: 0 30px;
      border: 1px solid black;
      z-index: 1;
      transition: 0.3s ease all;
    }
  
    .service-button{
      border-bottom: 1px solid #ACC4D8;
      background: #ACC4D8;
      color: #392323;
    }
    .request-button{
      border-bottom: 1px solid #BCE0FD;
      background: #BCE0FD;
      color: #602121;
    }
    .req-setup-button{
      border-bottom: 1px solid white;
      background: white;
      color: #602121;
    }
  }

  .main {
    height: 82%;
    width: 100%;
    background: white;
    border: 1px solid black;
    border-bottom-color: white;
    border-right-color: white;
    box-shadow: black;

    h2 {
      margin-bottom: 2px;
    }

    input {
      border: 1px solid darken($primary-color, 20%);
      height: 1.5rem;
      flex-grow: 1;
      padding-left: 8px;
    }
  }
}