.left {
  width: 70%;
  height: 100%;
  margin-right: 30px;

  .input-header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;

    .upload-box {
      width: 50%;

      .upload-box-contents {
        display: flex;
        align-items: center;

        .file-path {
          background: white;
          color: $secondary-color;
          overflow-y: scroll;
          margin-left: 10px;
          padding: 5px;
          font-size: 0.85rem;
          border-radius: 6px;
          flex-grow: 1;
          height: 1.5rem;
          white-space: nowrap;
        }

        .file-path::-webkit-scrollbar {
          width:0;
          height:0;
        }

        .hide-me {
          height: 0.1px; 
          width: 0.1px;
          opacity: 0;
          overflow: hidden;
        }

        label {
          border: 1px solid $secondary-color;
          border-radius: 6px;
          padding: 5px 10px;
          font-size: 0.7rem;
          background: white;
          height: 1.5rem;
          color: $secondary-color;
          text-align: center;
          transition: all ease 0.2s;

        }
        label:hover {
          border: 1px solid #2699FB;
          background: #2699FB;
          color: white;
          cursor: pointer;
        }
      }
    }

    .address-box {
      width: 50%;

      input {
        width: 80%;
        border: 1px solid #BCE0FD;
        border-radius: 6px;
        padding: 5px;
        font-size: 0.7rem;
        background: white;
        height: 1.5rem;
        color: $secondary-color;
      }

    }

  }

  .tabs {

    button {
      height: 2rem;
      border: 0px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      margin-right: 10px;
      margin-bottom: -5px;
      padding: 0 30px;
      border: 1px solid black;
      z-index: 1;
      transition: 0.3s ease all;
    }
  
    .service-button{
      border-bottom: 1px solid #ACC4D8;
      background: #ACC4D8;
      color: #392323;
    }
    .request-button{
      border-bottom: 1px solid #BCE0FD;
      background: #BCE0FD;
      color: #602121;
    }
    .req-setup-button{
      border-bottom: 1px solid white;
      background: white;
      color: #602121;
    }
  }

  .main {
    height: 82%;
    width: 100%;
    margin-bottom: 16px;
    background: white;
    border: 1px solid black;
    box-shadow: black;
  }

  .footer-left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    button {
      height: 1.6rem;
      flex-grow: 1;
      margin-left: 10px;
      background: #2699FB;
      color: white;
    }

    .connection-display {
      height: 1.6rem;
      flex-grow: 0.6;
      margin-left: 10px;
      background: white;
      border-radius: 6px;
      opacity: 0.9;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      font-size: 0.8rem;
      font-weight: 800;
      color: #005AA7;  
    }

    .trail {
      height: 1.6rem;
      flex-grow: 6;
      padding: 5px;
      background: white;
      color: darkgrey;
    }
  }

}