.right-half {
  height: 100%;
  width: 30%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  .response-display {
    margin: 10px 0;
    padding: 7px;
    background: white;
    border: 1px solid black;
    height: 86%;
    width: 100%;
    
  }

  .response-metrics {
    height: 1.6rem;
    width: 100%;
    padding: 5px;
    background: white;
    text-align: right;
    border: 1px solid black;
    color: darkgrey;
    margin-bottom: 16px;
  }

}