.service {

  button {
    border-radius: 2px;
    margin: 0 4px;
  }

  .service-button{
    background: #ACC4D8;
    color: white;
  }
  .request-button{
    background: #BCE0FD;
    color: #602121;
  }
  .req-config-button{
    background: white;
    color: #602121;
  }

}