.service-request {
  height: 100%;
  padding: 10px 0px 0px 30px;
  padding-top: 30px;
  background: white;
  display: flex;

  .left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;

    .service-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: 8px 0px;

      img {
        height: auto;
        width: 1rem;
        border: 1px solid black;
      }
    }
    .service-area {
      border: 1px solid black;
      display: flex;
      flex-grow: 1;
      flex-flow: column nowrap;
      align-items: flex-start;
    }
  }

  .right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;

    .request-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: 8px 0px;

      img {
        height: 1rem;
        width: 1rem;
      }
    }
    .request-area {
      border: 1px solid black;
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
    }
  }

}