.left-half {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  height: 100%;
  margin-right: 8%;

  h1 {
    margin-bottom: 20px;
  }

  .tab-header {

    border: none;
    font-size: 2rem;
    margin-bottom: 18px;

  }
  

  #tab {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
  }

  .input-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;

    .upload-box {
      width: 50%;

      .upload-box-contents {
        display: flex;
        align-items: center;


        .file-path-spacer {
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          height: 2rem;
          width: 5px;
          
        }
        .file-path {
          background: white;
          color: darken(#2699FB, 20%);
          overflow-x: scroll;
          padding: 5px 7px;
          padding-right: 20px;
          font-size: 0.7rem;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          border: 1px solid black;
          border-right: none;
          flex-grow: 1;
          height: 2rem;
          white-space: nowrap;
          display: flex;
          align-items: center;
          align-content: center;
        }

        .file-path::-webkit-scrollbar {
          width: auto;
          height: 5px;
        }
        .file-path::-webkit-scrollbar-thumb {
          background: black;
        }

        .hide-me {
          height: 0.1px; 
          width: 0.1px;
          opacity: 0;
          overflow: hidden;
        }

        label {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 2rem;
          padding: 5px 15px;
          background: #2699FB;
          border: 1px solid #96CDD5;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          font-size: 0.7rem;
          font-weight: 700;
          color: white;
          text-align: center;
          vertical-align: middle;
          transition: all ease 0.2s;
          z-index: 1;
        }
        label:hover {
          border: 1px solid #2699FB;
          background: white;
          color: #2699FB;
          cursor: pointer;
        }
      }
    }

    .address-box {
      width: 50%;

      input {
        width: 80%;
        border: 1px solid black;
        border-radius: 6px;
        padding: 5px 7px;
        font-size: 0.7rem;
        background: white;
        height: 2rem;
        color: darken(#2699FB, 20%);
      }

    }

  }

  .tabs {

    display: flex;
    flex-flow: row nowrap;

    button {
      height: 2rem;
      padding: 0 30px;
      background: white;
      margin-bottom: -1px;
      color: darken(#2699FB, 20%);
      border: 1px solid darken(#2699FB, 20%);
      border-bottom: 1px solid black;
      font-weight: 700;
      z-index: 1;
      transition: 0.2s ease all;
    }
    button:hover {
      background: darken(#2699FB, 20%);
      color: white;
      border-right: 1px solid white;
      border-left: 1px solid white;
    }
    button:disabled {
      background: white;
      border: 1px solid grey;
      color: darkgrey;
    }
    button:disabled:hover {
      cursor: auto;
    }

    .selected {
      background: darken(#2699FB, 20%);
      color: white;
    }
  }

  .main {
    flex-grow: 1;
    display: flex;
    flex-grow: 1;
    width: 100%;
    background: white;
    border: 1px solid black;
    border-bottom-color: white;
    border-right-color: white;

    h2 {
      margin-bottom: 2px;
    }

    input {
      border: 1px solid lightgrey;
      font-weight: 400;
      font-size: 0.8rem;
      height: 1.5rem;
      flex-grow: 1;
      padding-left: 8px;
      margin-bottom: 8px;
    }

    .req-list-service {
      // font-size: .7rem;
      // display: block;
      color: lightgrey;
    }
  }
}