.right-half {
  height: 100%;
  width: 30%;
  display: flex;
  flex-flow: column nowrap;

  .right-header-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .tab {
      text-align: center;
      flex-grow: 1;
      margin-bottom: 2px;
      margin-left: -1px;
      padding: 6px 14px;
      background: white;
      font-size: 0.7rem;
      font-weight: 700;
      color: darken(#2699FB,20%);
      border: 1px solid black;
      transition: 0.3s ease all;
    }
    .tab:hover {
      background: #2699FB;      
      color: white;
      cursor: pointer;
    }
    .tab:active {
      background: darken(#2699FB,20%);
    }
    .selected {
      color: white;
      background: darken(#2699FB,20%);
    }
  }

  .response-display {
    margin-bottom: 10px;
    padding: 7px;
    background: black;
    border: 1px solid lightgrey;
    border-top: 1px solid black;
    height: 85%;
    width: 100%;
    border-radius: 6px;
    overflow-x: scroll;
  }

  .response-metrics {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 1.8rem;
    width: 100%;
    border-radius: 6px;
    background: black;
    text-align: right;
    border: 1px solid lightgrey;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    overflow-x: scroll;

    span {
      margin-left: 5px;
    }
  }

  .response-metrics::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }

  .metrics-time {
    font-size: 0.8rem;
  }

  .metrics-request {
    margin-right: 5px;
    font-size: 0.7rem;
    flex-grow: 1;
  }

}