@import 'reset';
@import 'variables';
@import 'components/all';

html {

  height: 100%;
  width: 100%;

}

body {

  font-family: $primary-font;
  background: $primary-color;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 80%;
  width: 80%;
  padding: 5% 10%;
}

p {
    text-align: center;
    color: #2699FB;
}

textarea {
  resize: none;
}

#app{
  height: 100%;
  width: 100%;
}

#Target{
  border: 1px solid red;
  grid-area: target;
}

#result{
  border: 1px solid purple;
  grid-area: result;
  div{
    background: white;
    border: 1px solid black;
  }
}

.resultbox {
  height: 3em;
}

#protopreview{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid yellow;
  grid-area: preview;
  p {
    margin-top: 8px;
  }
  textarea {
    height: 90%;
    width: 90%;
  }
}

#messagebody{
  border: 1px solid green;
  grid-area: message;
}

#serviceconfig{
  border: 1px solid blue;
  grid-area: config;
}
