@import 'reset';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'mixins';
@import 'components/all';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {

  font-family: $primary-font;
  background: $primary-color;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 80%;
  width: 90%;
  padding: 5% 5%;

  min-width: 800px;
  min-height: 800px;
}

h2 {
  color: #2699FB;
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 2px;
}

p {
    text-align: center;
    color: #2699FB;
}

textarea {
  resize: none;
}
